<br>
<div align= "center">
  <h1>All Articles</h1>
</div>
<%= link_to 'Add a new article' , new_article_path, class: "btn-primary btn"%>
<div align = "center">
  <%= will_paginate %>
</div>
</br></br>
<%= render 'article', objects: @articles %>
<div align="center">
  <%= will_paginate %>
</div>
