<br>
<h1 align = "center" >Listing Categories</h1>
<% @categories.each do |category| %>
  <ul style = "list-style-type: none">
    <div class="row">
      <div class="well col-md-4 col-md-offset-4 center">
        <li class = "article-title">
          <%= link_to category.name, category_path(category) %>
        </li>
        <li>
          <small>
            <%= pluralize(category.articles.count, " articles") %>
          </small>
        </li>
        <% if logged_in? && current_user.admin? %>
        <div class="badge">
          <%= link_to "Edit Category", edit_category_path(category) %>
        </div>
        <% end %>
      </div>
    </div>
  </ul>
<% end %>
